.exp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exp h1 {
  color: #585d58;
  font-weight: 500;
}

.exp-text {
  max-width: 60%;
  color: #808880;
}

.exp-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px o;
  overflow-x: scroll;
  color: rgb(75, 152, 75);
}

.exp-list::-webkit-scrollbar {
  display: none;
}

.exp-list img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.exp-list p {
  margin-top: 10px;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.exp-list hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.exp-menu-list-item .active {
  border: 3px solid tomato;
  padding: 2px;
}

@media (max-width: 1050px) {
  .exp-text {
    max-width: 100%;
    font-size: 14px;
  }
}
